{% extends 'sidebar_manage.html' %}
{% load static %}

{% block content %}
    <div class="w-full max-w-full">
        <div class="breadcrumbs text-sm mb-0">
            <ul>
                <li>
                    <a href="{% url 'manager:your-queue' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path d="M3 3.5A1.5 1.5 0 0 1 4.5 2h1.879a1.5 1.5 0 0 1 1.06.44l1.122 1.12A1.5 1.5 0 0 0 9.62 4H11.5A1.5 1.5 0 0 1 13 5.5v1H3v-3ZM3.081 8a1.5 1.5 0 0 0-1.423 1.974l1 3A1.5 1.5 0 0 0 4.081 14h7.838a1.5 1.5 0 0 0 1.423-1.026l1-3A1.5 1.5 0 0 0 12.919 8H3.081Z"/>
                        </svg>
                        Your Queues
                    </a>
                </li>
                <li>
                    <a class="font-serif" href="{% url 'manager:manage_waitlist' queue.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path d="M4.5 7c.681 0 1.3-.273 1.75-.715C6.7 6.727 7.319 7 8 7s1.3-.273 1.75-.715A2.5 2.5 0 1 0 11.5 2h-7a2.5 2.5 0 0 0 0 5ZM6.25 8.097A3.986 3.986 0 0 1 4.5 8.5c-.53 0-1.037-.103-1.5-.29v4.29h-.25a.75.75 0 0 0 0 1.5h.5a.754.754 0 0 0 .138-.013A.5.5 0 0 0 3.5 14H6a.5.5 0 0 0 .5-.5v-3A.5.5 0 0 1 7 10h2a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h2.5a.5.5 0 0 0 .112-.013c.045.009.09.013.138.013h.5a.75.75 0 1 0 0-1.5H13V8.21c-.463.187-.97.29-1.5.29a3.986 3.986 0 0 1-1.75-.403A3.986 3.986 0 0 1 8 8.5a3.986 3.986 0 0 1-1.75-.403Z"/>
                        </svg>
                        {{ queue.name| title }}
                    </a>
                </li>
                <li>
                  <span class="inline-flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                      <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Zm7.75-4.25a.75.75 0 0 0-1.5 0V8c0 .414.336.75.75.75h3.25a.75.75 0 0 0 0-1.5h-2.5v-3.5Z"
                            clip-rule="evenodd"/>
                    </svg>
                    Queue Manager
                  </span>
                </li>
            </ul>
        </div>

        <div class="flex justify-between items-center mb-5">
            <h1 class="text-2xl font-bold antialiased font-sans">Queue Manager</h1>
            <div class="ml-auto flex space-x-2">
                <a href="{% url 'manager:waiting_full' queue.id %}" class="btn btn-primary cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path d="m13.28 7.78 3.22-3.22v2.69a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.69l-3.22 3.22a.75.75 0 0 0 1.06 1.06ZM2 17.25v-4.5a.75.75 0 0 1 1.5 0v2.69l3.22-3.22a.75.75 0 0 1 1.06 1.06L4.56 16.5h2.69a.75.75 0 0 1 0 1.5h-4.5a.747.747 0 0 1-.75-.75ZM12.22 13.28l3.22 3.22h-2.69a.75.75 0 0 0 0 1.5h4.5a.747.747 0 0 0 .75-.75v-4.5a.75.75 0 0 0-1.5 0v2.69l-3.22-3.22a.75.75 0 1 0-1.06 1.06ZM3.5 4.56l3.22 3.22a.75.75 0 0 0 1.06-1.06L4.56 3.5h2.69a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0-.75.75v4.5a.75.75 0 0 0 1.5 0V4.56Z"/>
                    </svg>
                    Expand
                </a>
                <label for="viewModal" class="btn btn-primary cursor-pointer">View {{ resource_name }}</label>
            </div>
        </div>

        <input type="checkbox" id="viewModal" class="modal-toggle"/>
        <div class="modal">
            <div style="max-width:570px; max-height: 600px" class="modal-box relative h-full w-full p-10">
                <label for="viewModal" class="btn btn-sm btn-square btn-ghost absolute right-2 top-2">✕</label>
                <div class="flex items-center gap-2 mx-3 my-1">
                    <h2 class="font-semibold text-2xl">{{ resource_name| title }}s</h2>
                    <a href="{% url 'manager:resources' queue_id %}" class="btn btn-xs no-animation mt-0.5">
                        Edit</a>
                </div>
                <div class="divider"></div>

                <div class="flex items-center gap-2 mx-3 mb-4 mt-1">
                    <span class="inline-block w-2.5 h-2.5 bg-green-500 rounded-full"></span>
                    <div class="text-xs opacity-80 mr-2">{{ available_resource| length }} available</div>
                    <span class="inline-block w-2.5 h-2.5 bg-orange-500 rounded-full"></span>
                    <div class="text-xs opacity-80 mr-2">{{ busy_resource| length }} busy</div>
                    <span class="inline-block w-2.5 h-2.5 bg-red-500 rounded-full"></span>
                    <div class="text-xs opacity-80">{{ unavailable_resource| length }} unavailable</div>
                </div>

                <div class="overflow-hidden">
                    <table class="table w-full m-auto">
                        <thead>
                        <tr>
                            <td class="text-xs font-medium text-gray-500 uppercase">Name</td>
                            <td class="text-xs font-medium text-gray-500 uppercase">Assigned to</td>
                            <td class="text-xs font-medium text-gray-500 uppercase">Status</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for resource in resources %}
                            <tr>
                                <td>
                                    <div>
                                        <div class="font-semibold text-lg">{{ resource.name }}</div>
                                        {% if queue.category.lower == 'hospital' %}
                                            <div class="text-sm opacity-50">{{ resource.get_specialty_display }}</div>
                                        {% elif queue.category.lower == 'restaurant' %}
                                            <div class="text-sm opacity-50">capacity: {{ resource.capacity }}</div>
                                        {% endif %}

                                    </div>
                                </td>
                                <td>
                                    {{ resource.assigned_to.name|default:"-" }}
                                </td>
                                <td>
                                    <div class="flex items-center gap-2">
                                        {% if resource.status == "available" %}
                                            <span class="inline-block w-2.5 h-2.5 bg-green-500 rounded-full"></span>
                                        {% elif resource.status == "busy" %}
                                            <span class="inline-block w-2.5 h-2.5 bg-orange-500 rounded-full"></span>
                                        {% elif resource.status == "unavailable" %}
                                            <span class="inline-block w-2.5 h-2.5 bg-red-500 rounded-full"></span>
                                        {% endif %}
                                        <div class="font-semibold text-md">{{ resource.get_status_display }}</div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="flex items-center gap-2">
            <div class="flex items-center mb-4">
                <div class="flex items-center w-2/3 max-w-xs">
                    <div class="relative w-full mr-2">
                        <input type="text"
                               id="searchInput"
                               class="input input-bordered w-full pr-12"
                               placeholder="Search" oninput="filterParticipants()">
                        <button type="button"
                                id="searchButton"
                                class="absolute right-2 top-1/2 -translate-y-1/2 p-2 h-auto min-h-0">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-5 w-5"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <button class="btn no-animation" onclick="resetSearch()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd"
                              d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z"
                              clip-rule="evenodd"/>
                    </svg>
                    Reset
                </button>
            </div>
        </div>

        <div class="grid gap-4">
            <div class="card w-full overflow-x-auto shadow bordered bg-base-100 mb-5">
                <div class="card-body">
                    <div class="inline-flex">
                        <h2 class="card-title">Waiting</h2>
                    </div>

                    <div>
                        {% if queue.is_closed %}
                            <span class="badge badge-error text-base-100">Closed</span>
                        {% else %}
                            <span class="badge badge-success text-base-100">Open</span>
                        {% endif %}
                        <p class="font-thin inline-flex ">- est. wait/turn: {{ queue.estimated_wait_time_per_turn }}
                            min</p>
                    </div>
                    <table class="min-w-full bg-base-100 divide-y divide-gray-200">
                        <thead>
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Position
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {{ special_1 }}
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Notes
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Waited
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {{ special_2 }}
                            </th>
                        </tr>
                        </thead>
                        <tbody id="waiting-section" class="divide-y divide-gray-200">
                        {% for participant in waiting_list %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.name }}
                                    {% if participant.is_notified %}
                                        <div class="flex items-center">
                                            <div class="tooltip" data-tip="Notified at">
                                        <span class="bg-amber-100 text-yellow-500 text-sm inline-flex items-center px-2 py-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                                 fill="currentColor" class="size-4 mr-1">
                                                <path d="M3.6 1.7A.75.75 0 1 0 2.4.799a6.978 6.978 0 0 0-1.123 2.247.75.75 0 1 0 1.44.418c.187-.644.489-1.24.883-1.764ZM13.6.799a.75.75 0 1 0-1.2.9 5.48 5.48 0 0 1 .883 1.765.75.75 0 1 0 1.44-.418A6.978 6.978 0 0 0 13.6.799Z"/>
                                                <path fill-rule="evenodd"
                                                      d="M8 1a4 4 0 0 1 4 4v2.379c0 .398.158.779.44 1.06l1.267 1.268a1 1 0 0 1 .293.707V11a1 1 0 0 1-1 1h-2a3 3 0 1 1-6 0H3a1 1 0 0 1-1-1v-.586a1 1 0 0 1 .293-.707L3.56 8.44A1.5 1.5 0 0 0 4 7.38V5a4 4 0 0 1 4-4Zm0 12.5A1.5 1.5 0 0 1 6.5 12h3A1.5 1.5 0 0 1 8 13.5Z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                            Notified
                                        </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.position }}</td>
                                <td class="px-6 py-4 whitespace-nowrap"></td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {% if participant.note %}
                                        <button class="btn btn-sm no-animation"
                                                onclick="document.getElementById('${modalId}').showModal()">
                                            View Note
                                        </button>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.waited }}</td>
                                <td class="badge badge-primary justify-center flex mx-7 my-5"></td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex gap-2">
                                        <div class="tooltip" data-tip="No Show">
                                            <button class="btn btn-error btn-square btn-sm text-base-100 no-animation"
                                                    aria-label="No Show" data-participant-id="${participant.id}"
                                                    onclick="openNotifyModal(this)">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                                     fill="currentColor" class="size-4">
                                                    <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <button class="btn btn-warning btn-square btn-sm text-base-100 no-animation"
                                                aria-label="Notify" data-participant-id="{{ participant.id }}"
                                                onclick="openNotifyModal(this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                                 fill="currentColor" class="size-4">
                                                <path d="M3.6 1.7A.75.75 0 1 0 2.4.799a6.978 6.978 0 0 0-1.123 2.247.75.75 0 1 0 1.44.418c.187-.644.489-1.24.883-1.764ZM13.6.799a.75.75 0 1 0-1.2.9 5.48 5.48 0 0 1 .883 1.765.75.75 0 1 0 1.44-.418A6.978 6.978 0 0 0 13.6.799Z"/>
                                                <path fill-rule="evenodd"
                                                      d="M8 1a4 4 0 0 1 4 4v2.379c0 .398.158.779.44 1.06l1.267 1.268a1 1 0 0 1 .293.707V11a1 1 0 0 1-1 1h-2a3 3 0 1 1-6 0H3a1 1 0 0 1-1-1v-.586a1 1 0 0 1 .293-.707L3.56 8.44A1.5 1.5 0 0 0 4 7.38V5a4 4 0 0 1 4-4Zm0 12.5A1.5 1.5 0 0 1 6.5 12h3A1.5 1.5 0 0 1 8 13.5Z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </button>
                                        <button class="btn btn-success btn-square btn-sm text-base-100 no-animation"
                                                onclick="serveParticipant({{ participant.id }})" aria-label="Serve">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" class="size-5">
                                                <path fill-rule="evenodd"
                                                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="divider m-1"></div>
                    <div class="ml-auto text-sm text-gray-500">
                        {{ waiting_list| length }} out of {{ queue.get_number_waiting_now }}
                        <a href="{% url 'manager:view_all_waiting' queue_id %}" class="link link-hover">View All</a>
                    </div>
                </div>
            </div>

            <div class="card w-full overflow-x-auto shadow bordered bg-base-100 mb-5">
                <div class="card-body">
                    <h2 class="card-title">Serving</h2>
                    <p class="text-info-content font-thin">
                        {{ serving_list.count }} Part{{ serving_list.count|pluralize:'y,ies' }}</p>
                    <table class="min-w-full bg-base-100 divide-y divide-gray-200">
                        <thead>
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {{ special_1 }}
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Notes
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Waited
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Service Duration
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Served
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {{ resource_name }}
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {{ special_2 }}
                            </th>
                        </tr>
                        </thead>
                        <tbody id="serving-section" class="bg-base-100 divide-y divide-gray-200">
                        {% for participant in serving_list %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {{ participant.name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap"></td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {% if participant.note %}
                                        <button class="btn btn-sm no-animation"
                                                onclick="document.getElementById('${modalId}').showModal()">
                                            View Note
                                        </button>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.waited }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.get_service_duration }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.service_started_at }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.table.name }}</td>
                                <td class="badge badge-primary justify-center flex mx-7 my-5">{{ participant.seating_preference }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <button class="btn btn-success btn-square btn-sm text-base-100 no-animation"
                                            onclick="completeParticipant({{ participant.id }})">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                             fill="currentColor"
                                             class="size-5">
                                            <path fill-rule="evenodd"
                                                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="divider m-1"></div>
                    <div class="ml-auto text-sm text-gray-500">
                        {{ serving_list| length }} out of {{ queue.get_number_serving_now }}
                        <a href="{% url 'manager:view_all_serving' queue_id %}" class="link link-hover">View All</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid gap-4">
            <div class="card w-full shadow bordered bg-base-100 overflow-x-auto">
                <div class="card-body">
                    <h2 class="card-title">Completed</h2>
                    <p class="text-info-content font-thin">
                        {{ queue.get_participants_today }} participants today</p>
                    <table class="min-w-full bg-base-100 divide-y divide-gray-200">
                        <thead>
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {{ special_1 }}
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Notes
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Waited
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Service Duration
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Served
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Completed
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {{ resource_name }} Assigned
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                {{ special_2 }}
                            </th>
                        </tr>
                        </thead>
                        <tbody id="completed-section" class="bg-base-100 divide-y divide-gray-200">
                        {% for participant in completed_list %}
                            <tr>
                                <td id="name_{{ participant.id }}"
                                    class="px-6 py-4 whitespace-nowrap">{{ participant.name }}</td>
                                <td id="party_size_{{ participant.id }}" class="px-6 py-4 whitespace-nowrap"></td>
                                <td id="notes_{{ participant.id }}" class="px-6 py-4 whitespace-nowrap">
                                    {% if participant.note %}
                                        <button class="btn btn-sm no-animation"
                                                onclick="document.getElementById('${modalId}').showModal()">
                                            View Note
                                        </button>
                                    {% endif %}
                                </td>
                                <td id="waited_{{ participant.id }}"
                                    class="px-6 py-4 whitespace-nowrap">{{ participant.waited }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.get_service_duration }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.service_started_at }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.service_completed_at }}</td>
                                <td id="table_{{ participant.id }}"
                                    class="px-6 py-4 whitespace-nowrap">{{ participant.table.name }}</td>
                                <td id="seating_{{ participant.id }}"
                                    class="badge badge-primary justify-center flex mx-7 my-5">{{ participant.service_type }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="divider m-1"></div>
                    <div class="ml-auto text-sm text-gray-500">
                        {{ completed_list| length }} out of {{ queue.get_number_completed_now }}
                        <a href="{% url 'manager:view_all_completed' queue_id %}" class="link link-hover">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="checkbox" id="notify_modal" class="modal-toggle"/>
    <div class="modal">
        <div class="modal-box relative  p-10">
            <label for="notify_modal" class="btn btn-sm btn-square btn-ghost absolute right-2 top-2">✕</label>

            <div class="flex items-center gap-2 my-1">
                <h2 class="font-semibold text-2xl">Notify Participant</h2>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Message (Optional)</span>
                </label>
                <textarea id="message" class="textarea textarea-bordered w-full h-24"
                          placeholder="Type your message here..."></textarea>
            </div>
            <div class="modal-action">
                <button class="btn btn-primary no-animation" onclick="sendNotification()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path d="M3.6 1.7A.75.75 0 1 0 2.4.799a6.978 6.978 0 0 0-1.123 2.247.75.75 0 1 0 1.44.418c.187-.644.489-1.24.883-1.764ZM13.6.799a.75.75 0 1 0-1.2.9 5.48 5.48 0 0 1 .883 1.765.75.75 0 1 0 1.44-.418A6.978 6.978 0 0 0 13.6.799Z"/>
                        <path fill-rule="evenodd"
                              d="M8 1a4 4 0 0 1 4 4v2.379c0 .398.158.779.44 1.06l1.267 1.268a1 1 0 0 1 .293.707V11a1 1 0 0 1-1 1h-2a3 3 0 1 1-6 0H3a1 1 0 0 1-1-1v-.586a1 1 0 0 1 .293-.707L3.56 8.44A1.5 1.5 0 0 0 4 7.38V5a4 4 0 0 1 4-4Zm0 12.5A1.5 1.5 0 0 1 6.5 12h3A1.5 1.5 0 0 1 8 13.5Z"
                              clip-rule="evenodd"/>
                    </svg>
                    Notify
                </button>
            </div>
        </div>
    </div>

    <dialog id="choose_resource_modal" class="modal">
        <div class="modal-box w-11/12 max-w-xl">
            <!-- Header -->
            <div class="flex justify-between items-center mb-4">
                <h3 class="font-bold text-lg">Choose {{ resource_name }}</h3>
                <form method="dialog">
                    <button class="btn btn-sm btn-circle">✕</button>
                </form>
            </div>

            <!-- Hidden input to store participant ID -->
            <input type="hidden" id="participantId" value="">

            <!-- Resources Section -->
            <div id="resourceContainer" class="grid gap-4">
                {% if available_resource %}
                    {% for resource in available_resource %}
                        <div class="card bg-base-100 border hover:border-primary cursor-pointer"
                             onclick="selectResource('{{ resource.id }}')"
                             data-id="{{ resource.id }}" id="resource-{{ resource.id }}">
                            <div class="card-body p-4">
                                <div class="flex justify-between items-center">
                                    <div>
                                        <div class="flex items-center gap-2">
                                            <span class="font-semibold">{{ resource.name }}</span>
                                        </div>
                                        <div class="text-sm text-gray-500">
                                            {% if queue.category == 'restaurant' %}
                                                Capacity: {{ resource.capacity }}
                                            {% elif queue.category == 'hospital' %}
                                                Specialty: {{ resource.get_specialty_display }}
                                             {% elif queue.category == 'bank' %}
                                                Service: {{ resource.get_service_type_display }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="badge badge-success badge-sm"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <span class="font-semibold">No {{ resource_name }}s available.</span>
                {% endif %}
            </div>
            <div class="modal-action">
                <button type="button" class="btn" onclick="serveParticipantNoResource()">Serve without assigning
                </button>
                <button type="button" class="btn" onclick="autoAssignResource()">Auto assign</button>
                <button class="btn btn-primary" onclick="serveSelectedParticipant()">Serve</button>
            </div>
        </div>
    </dialog>

    <input type="checkbox" id="noShowModal" class="modal-toggle"/>
    <div class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Confirm No Show</h3>
            <p class="py-4">This action cannot be undone. Are you sure you want to mark this participant as No Show?</p>
            <div class="modal-action">
                <button class="btn btn-error text-white" id="confirmNoShowButton" onclick="confirmNoShow()">Yes, Mark as
                    No Show
                </button>
                <label for="noShowModal" class="btn">Cancel</label>
            </div>
        </div>
    </div>

    <script>
        const queue_id = {{ queue.id }};
        const updateInterval = 30000;

        document.addEventListener('DOMContentLoaded', function () {
            fetchData();
            setInterval(fetchData, updateInterval);
        });

        function fetchData() {
            fetch(`/manager/unique-category-updates/${queue_id}/`)
                .then(response => {
                    if (!response.ok) throw new Error('Network response was not ok');
                    return response.json();
                })
                .then(data => {
                    updateWaitingList(data.waiting_list);
                    updateServingList(data.serving_list);
                    updateCompletedList(data.completed_list);
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        let selectedResourceId = null;

        function openResourceModal(participantId) {
            document.getElementById('participantId').value = participantId;
            document.getElementById('choose_resource_modal').showModal();
        }

        function selectResource(resourceId) {
            if (selectedResourceId) {
                const prevSelected = document.getElementById(`resource-${selectedResourceId}`);
                if (prevSelected) {
                    prevSelected.classList.remove('border-primary');
                }
            }

            const selectedCard = document.getElementById(`resource-${resourceId}`);
            if (selectedCard) {
                selectedCard.classList.add('border-primary');
                selectedResourceId = resourceId;
            }
        }

        function clearSelection() {
            if (selectedResourceId) {
                const selectedCard = document.getElementById(`resource-${selectedResourceId}`);
                if (selectedCard) {
                    selectedCard.classList.remove('border-primary');
                }
                selectedResourceId = null;
            }
        }

        function autoAssignResource() {
            clearSelection();
            const participantId = document.getElementById('participantId').value;

            fetch(`/manager/serve/${participantId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Auto-assigned a resource successfully!');
                        location.reload();
                    } else {
                        alert(data.error || 'Error auto-assigning resource.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Unexpected error occurred.');
                });
        }

        function serveSelectedParticipant() {
            const participantId = document.getElementById('participantId').value;

            if (!selectedResourceId) {
                alert("No resource selected. Please auto-assign or select a resource first.");
                return;
            }

            fetch(`/manager/serve/${participantId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({resource_id: selectedResourceId})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Participant served successfully!');
                        location.reload();
                    } else {
                        alert(data.error || 'Error serving participant.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function serveParticipantNoResource() {
            const participantId = document.getElementById('participantId').value;

            fetch(`/manager/serve_no_resource/${participantId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({resource_id: selectedResourceId})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Participant served successfully!');
                        location.reload();
                    } else {
                        alert(data.error || 'Error serving participant.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }


        function updateWaitingList(waitingList) {
            const waitingSection = document.getElementById('waiting-section');
            waitingSection.innerHTML = '';

            waitingList.slice(0, 5).forEach(participant => {
                const row = createWaitingRow(participant);
                waitingSection.appendChild(row);
            });
        }

        function updateServingList(servingList) {
            const servingSection = document.getElementById('serving-section');
            servingSection.innerHTML = '';

            servingList.slice(0, 5).forEach(participant => {
                const row = createServingRow(participant);
                servingSection.appendChild(row);
            });
        }

        function updateCompletedList(completedList) {
            const completedSection = document.getElementById('completed-section');
            completedSection.innerHTML = '';

            completedList.slice(0, 5).forEach(participant => {
                const row = createCompletedRow(participant);
                completedSection.appendChild(row);
            });
        }

        function createNotesModal(participant) {
            const modalId = `notes-modal-${participant.id}`;
            const notesHTML = participant.notes
                ? `
                <button class="btn btn-sm no-animation" onclick="document.getElementById('${modalId}').showModal()">
                    View Note
                </button>

                <dialog id="${modalId}" class="modal">
                    <div class="modal-box">
                        <form method="dialog">
                            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg mb-4">${participant.name}'s note</h3>
                        <div class="bg-base-200 p-4 rounded-lg min-h-[200px] shadow-inner">
                            <p class="whitespace-pre-wrap">${participant.notes}</p>
                        </div>
                        <div class="modal-action">
                            <form method="dialog">
                                <button class="btn">Close</button>
                            </form>
                        </div>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                </dialog>`
                : '-';

            return notesHTML;
        }

        function filterParticipants() {
            const searchQuery = document.getElementById('searchInput').value.toLowerCase();
            const waitingRows = document.querySelectorAll('tr[id^="waiting-"]');
            const servingRows = document.querySelectorAll('tr[id^="serving-"]');
            const completedRows = document.querySelectorAll('tr[id^="completed-"]');

            filterRows(waitingRows, searchQuery);
            filterRows(servingRows, searchQuery);
            filterRows(completedRows, searchQuery);
        }

        function filterRows(rows, query) {
            rows.forEach(row => {
                const nameCell = row.querySelector('td:first-child');
                if (nameCell) {
                    const name = nameCell.textContent.toLowerCase();
                    row.style.display = name.includes(query) ? '' : 'none';
                }
            });
        }

        function resetSearch() {
            document.getElementById('searchInput').value = '';
            filterParticipants();
        }

        function toggleModal() {
            const modal = document.getElementById('resource_modal');
            modal.classList.toggle('modal-open');
        }

        function openNotifyModal(button) {
            const participantId = button.getAttribute("data-participant-id");
            document.getElementById("notify_modal").checked = true;
            window.selectedParticipantId = participantId;
        }

        function sendNotification() {
            const message = document.getElementById("message").value;
            const participantId = window.selectedParticipantId;

            if (!participantId) {
                alert("Please select a participant to notify.");
                return;
            }

            fetch(`/manager/notify/${participantId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({message: message})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Notification sent successfully!');
                        document.getElementById("notify_modal").checked = false;
                        if (data.audio_url) {
                            const audio = new Audio(data.audio_url);
                            audio.play();
                        }


                    } else {
                        alert('There was an error sending the notification');
                    }
                });

        }


        function createWaitingRow(participant) {
            const row = document.createElement('tr');
            row.id = `waiting-${participant.id}`;

            let notifiedBadge = '';

            if (participant.is_notified) {
                notifiedBadge = `
                <div class="flex items-center">
                    <div class="tooltip" data-tip="Notified at">
                    <span class="bg-amber-100 text-yellow-500 text-sm inline-flex items-center px-2 py-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 mr-1">
                            <path d="M3.6 1.7A.75.75 0 1 0 2.4.799a6.978 6.978 0 0 0-1.123 2.247.75.75 0 1 0 1.44.418c.187-.644.489-1.24.883-1.764ZM13.6.799a.75.75 0 1 0-1.2.9 5.48 5.48 0 0 1 .883 1.765.75.75 0 1 0 1.44-.418A6.978 6.978 0 0 0 13.6.799Z" />
                            <path fill-rule="evenodd" d="M8 1a4 4 0 0 1 4 4v2.379c0 .398.158.779.44 1.06l1.267 1.268a1 1 0 0 1 .293.707V11a1 1 0 0 1-1 1h-2a3 3 0 1 1-6 0H3a1 1 0 0 1-1-1v-.586a1 1 0 0 1 .293-.707L3.56 8.44A1.5 1.5 0 0 0 4 7.38V5a4 4 0 0 1 4-4Zm0 12.5A1.5 1.5 0 0 1 6.5 12h3A1.5 1.5 0 0 1 8 13.5Z" clip-rule="evenodd" />
                        </svg>
                        Notified
                    </span>
                </div>
                </div>
            `;
            }

            row.innerHTML = `
            <td class="px-6 py-4 whitespace-nowrap">
                ${participant.name || '-'}
                ${notifiedBadge}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.position || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.special_1 ? `${participant.special_1}` : '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${createNotesModal(participant)}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.waited || '0'} min</td>
            <td class="badge badge-primary justify-center flex mx-7 my-5">${participant.special_2 || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex gap-2">
                    <div class="tooltip" data-tip="No Show">
                    <button class="btn btn-error btn-square btn-sm text-base-100 no-animation"
                        aria-label="No Show" onclick="openNoShowModal(${participant.id})">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                          <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                        </svg>
                    </button>
                    </div>
                    <div class="tooltip" data-tip="Notify">
                    <button class="btn btn-warning btn-square btn-sm text-base-100 no-animation"
                        aria-label="Notify" data-participant-id="${participant.id}" onclick="openNotifyModal(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path d="M3.6 1.7A.75.75 0 1 0 2.4.799a6.978 6.978 0 0 0-1.123 2.247.75.75 0 1 0 1.44.418c.187-.644.489-1.24.883-1.764ZM13.6.799a.75.75 0 1 0-1.2.9 5.48 5.48 0 0 1 .883 1.765.75.75 0 1 0 1.44-.418A6.978 6.978 0 0 0 13.6.799Z" />
                            <path fill-rule="evenodd" d="M8 1a4 4 0 0 1 4 4v2.379c0 .398.158.779.44 1.06l1.267 1.268a1 1 0 0 1 .293.707V11a1 1 0 0 1-1 1h-2a3 3 0 1 1-6 0H3a1 1 0 0 1-1-1v-.586a1 1 0 0 1 .293-.707L3.56 8.44A1.5 1.5 0 0 0 4 7.38V5a4 4 0 0 1 4-4Zm0 12.5A1.5 1.5 0 0 1 6.5 12h3A1.5 1.5 0 0 1 8 13.5Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    </div>
                    <div class="tooltip" data-tip="Serve">
                    <button class="btn btn-success btn-square btn-sm text-base-100 no-animation"
                        onclick="openResourceModal('${participant.id}')" aria-label="Serve">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    </div>
                </div>

            </td>
        `;
            return row;
        }

        function createServingRow(participant) {
            const row = document.createElement('tr');
            row.id = `serving-${participant.id}`;

            row.innerHTML = `
            <td class="px-6 py-4 whitespace-nowrap">${participant.name || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.special_1 ? `${participant.special_1}` : '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${createNotesModal(participant)}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.waited || '0'} min</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.service_duration || '0'} min</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.served || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.resource || '-'}</td>
            <td class="badge badge-primary justify-center flex mx-7 my-5">${participant.special_2 || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="tooltip" data-tip="Complete">
                <button class="btn btn-success btn-square btn-sm text-base-100 no-animation"
                        onclick="completeParticipant(${participant.id})">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                        </svg>
                </button>
                <div class="tooltip" data-tip="Notify">
            </td>
        `;
            return row;
        }

        function createCompletedRow(participant) {
            const row = document.createElement('tr');
            row.id = `completed-${participant.id}`;

            row.innerHTML = `
            <td class="px-6 py-4 whitespace-nowrap">${participant.name || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.special_1 ? `${participant.special_1}` : '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${createNotesModal(participant)}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.waited || '0'} min</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.service_duration || '0'} min</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.served || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.completed || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.resource_served || '-'}</td>
            <td class="badge badge-primary justify-center flex mx-7 my-5">${participant.special_2 || '-'}</td>

        `;
            return row;
        }

        function completeParticipant(id) {
            fetch(`/manager/complete/${id}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({id})
            })
                .then(response => {
                    if (!response.ok) throw new Error('Network response was not ok');
                    fetchData();
                })
                .catch(error => console.error('Error completing participant:', error));
        }

        let participantIdToMark = null;

        function openNoShowModal(participantId) {
            participantIdToMark = participantId;
            document.getElementById('noShowModal').checked = true;
        }

        function confirmNoShow() {
            if (participantIdToMark !== null) {
                window.location.href = `/manager/mark_no_show/${participantIdToMark}/`;
            }
        }
    </script>


{% endblock %}