{% extends 'sidebar.html' %}
{% load static %}

{% block content %}
        <div class="w-full max-w-full">
            <div class="breadcrumbs text-sm mb-0">
              <ul>
                <li>
                  <a>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                      <path d="M3 3.5A1.5 1.5 0 0 1 4.5 2h1.879a1.5 1.5 0 0 1 1.06.44l1.122 1.12A1.5 1.5 0 0 0 9.62 4H11.5A1.5 1.5 0 0 1 13 5.5v1H3v-3ZM3.081 8a1.5 1.5 0 0 0-1.423 1.974l1 3A1.5 1.5 0 0 0 4.081 14h7.838a1.5 1.5 0 0 0 1.423-1.026l1-3A1.5 1.5 0 0 0 12.919 8H3.081Z" />
                    </svg>
                    Your Queues
                  </a>
                </li>
                <li>
                  <a class="font-serif" href="{% url 'manager:manage_waitlist' queue.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                      <path d="M4.5 7c.681 0 1.3-.273 1.75-.715C6.7 6.727 7.319 7 8 7s1.3-.273 1.75-.715A2.5 2.5 0 1 0 11.5 2h-7a2.5 2.5 0 0 0 0 5ZM6.25 8.097A3.986 3.986 0 0 1 4.5 8.5c-.53 0-1.037-.103-1.5-.29v4.29h-.25a.75.75 0 0 0 0 1.5h.5a.754.754 0 0 0 .138-.013A.5.5 0 0 0 3.5 14H6a.5.5 0 0 0 .5-.5v-3A.5.5 0 0 1 7 10h2a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h2.5a.5.5 0 0 0 .112-.013c.045.009.09.013.138.013h.5a.75.75 0 1 0 0-1.5H13V8.21c-.463.187-.97.29-1.5.29a3.986 3.986 0 0 1-1.75-.403A3.986 3.986 0 0 1 8 8.5a3.986 3.986 0 0 1-1.75-.403Z" />
                    </svg>
                      {{ queue.name| title}}
                  </a>
                </li>
                <li>
                  <span class="inline-flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                      <path fill-rule="evenodd" d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Zm7.75-4.25a.75.75 0 0 0-1.5 0V8c0 .414.336.75.75.75h3.25a.75.75 0 0 0 0-1.5h-2.5v-3.5Z" clip-rule="evenodd" />
                    </svg>
                    Queue Manager
                  </span>
                </li>
              </ul>
            </div>


            <div class="flex justify-between items-center mb-5">
                <h1 class="text-2xl font-bold antialiased font-sans">Queue Manager</h1>
                <div class="ml-auto">
                    <a class="btn btn-primary">
                        View Table
                    </a>
                </div>
            </div>

            <div class="form-control w-full max-w-xs mb-6">
                <div class="flex items-center gap-2">
                    <label class="input input-bordered flex items-center w-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                        <input type="text" placeholder="Search" class="pl-2 w-full"/>
                    </label>
                    <button class="btn no-animation bg-neutral-content">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                          <path d="M14 2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v2.172a2 2 0 0 0 .586 1.414l2.828 2.828A2 2 0 0 1 6 9.828v4.363a.5.5 0 0 0 .724.447l2.17-1.085A2 2 0 0 0 10 11.763V9.829a2 2 0 0 1 .586-1.414l2.828-2.828A2 2 0 0 0 14 4.172V2Z" />
                        </svg>
                        Filter
                    </button>
                </div>
            </div>

        <div class="grid gap-4">
            <div class="card w-full overflow-x-auto shadow bordered bg-base-100 mb-5">
                <div class="card-body">
                    <h2 class="card-title">Waitlist</h2>
                    <div>
                        {% if queue.is_closed %}
                            <span class="badge badge-error text-base-100">Closed</span>
                        {% else %}
                            <span class="badge badge-success text-base-100">Open</span>
                        {% endif %}
                    <p class="font-thin inline-flex ">- est. wait/turn: {{ queue.estimated_wait_time_per_turn }} min</p>
                    </div>
                    <table class="min-w-full bg-base-100 divide-y divide-gray-200">
                        <thead>
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Position
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Party Size
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Notes
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Waited
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Seat Preference
                            </th>
                        </tr>
                        </thead>
                        <tbody id="waiting-section" class="divide-y divide-gray-200">
                        {% for participant in waiting_list %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.name }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.position }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.party_size }} people</td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {% if participant.note %}
                                    <button class="btn btn-sm no-animation" onclick="document.getElementById('${modalId}').showModal()">
                                        View Note
                                    </button>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.waited }}</td>
                                <td class="badge badge-primary justify-center flex mx-7 my-5">{{ participant.seating_preference }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <button class="btn btn-warning btn-square btn-sm text-base-100 no-animation mx-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                          <path d="M4.214 3.227a.75.75 0 0 0-1.156-.955 8.97 8.97 0 0 0-1.856 3.825.75.75 0 0 0 1.466.316 7.47 7.47 0 0 1 1.546-3.186ZM16.942 2.272a.75.75 0 0 0-1.157.955 7.47 7.47 0 0 1 1.547 3.186.75.75 0 0 0 1.466-.316 8.971 8.971 0 0 0-1.856-3.825Z" />
                                          <path fill-rule="evenodd" d="M10 2a6 6 0 0 0-6 6c0 1.887-.454 3.665-1.257 5.234a.75.75 0 0 0 .515 1.076 32.91 32.91 0 0 0 3.256.508 3.5 3.5 0 0 0 6.972 0 32.903 32.903 0 0 0 3.256-.508.75.75 0 0 0 .515-1.076A11.448 11.448 0 0 1 16 8a6 6 0 0 0-6-6Zm0 14.5a2 2 0 0 1-1.95-1.557 33.54 33.54 0 0 0 3.9 0A2 2 0 0 1 10 16.5Z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                    <button class="btn btn-success btn-square btn-sm text-xs text-base-100 no-animation">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card w-full overflow-x-auto shadow bordered bg-base-100 w-full mb-5">
                <div class="card-body">
                    <h2 class="card-title">Serving</h2>
                    <p class="text-info-content font-thin">
                        {{ serving_list.count }} Part{{ serving_list.count|pluralize:'y,ies' }}</p>
                    <table class="min-w-full bg-base-100 divide-y divide-gray-200">
                        <thead>
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Party Size
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Notes
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Waited
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Service Duration
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Served
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Table
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Seating Preference
                            </th>
                        </tr>
                        </thead>
                        <tbody id="serving-section" class="bg-base-100 divide-y divide-gray-200">
                        {% for participant in serving_list %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.name }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.party_size }} people</td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                {% if participant.note %}
                                    <button class="btn btn-sm no-animation" onclick="document.getElementById('${modalId}').showModal()">
                                        View Note
                                    </button>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.waited }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.get_service_duration }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.service_started_at }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.table.name }}</td>
                                <td class="badge badge-primary justify-center flex mx-7 my-5">{{ participant.seating_preference }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <button class="btn btn-success btn-square btn-sm text-base-100 no-animation"
                                            onclick="completeParticipant({{ participant.id }})">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="grid gap-4">
            <div class="card w-full shadow bordered bg-base-100 overflow-x-auto">
                <div class="card-body">
                    <h2 class="card-title">Completed</h2>
                    <table class="min-w-full bg-base-100 divide-y divide-gray-200">
                        <thead>
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Party Size
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Notes
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Waited
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Service Duration
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Served
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Completed
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Table Served
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Seating Preference
                            </th>
                        </tr>
                        </thead>
                        <tbody id="completed-section" class="bg-base-100 divide-y divide-gray-200">
                        {% for participant in completed_list %}
                            <tr>
                                <td id="name_{{ participant.id }}" class="px-6 py-4 whitespace-nowrap">{{ participant.name }}</td>
                                <td id="party_size_{{ participant.id }}" class="px-6 py-4 whitespace-nowrap">{{ participant.party_size }} people</td>
                                <td id="notes_{{ participant.id }}" class="px-6 py-4 whitespace-nowrap">
                                {% if participant.note %}
                                    <button class="btn btn-sm no-animation" onclick="document.getElementById('${modalId}').showModal()">
                                        View Note
                                    </button>
                                    {% endif %}
                                </td>
                                <td id="waited_{{ participant.id }}" class="px-6 py-4 whitespace-nowrap">{{ participant.waited }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.get_service_duration }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.service_started_at }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ participant.service_completed_at }}</td>
                                <td id="table_{{ participant.id }}" class="px-6 py-4 whitespace-nowrap">{{ participant.table.name }}</td>
                                <td id="seating_{{ participant.id }}" class="badge badge-primary justify-center flex mx-7 my-5">{{ participant.seating_preference }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                <div class="dropdown dropdown-left dropdown-end">
                                    <div tabindex="0" role="button" class="btn btn-square btn-sm btn-ghost">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                            <path d="M3 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM8.5 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM15.5 8.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z" />
                                        </svg>
                                    </div>
                                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                                        <li>
                                            <a onclick="openEditDrawer(this)"
                                               data-id="{{ participant.id }}"
                                               data-name="{{ participant.name }}"
                                               data-phone="{{ participant.phone|default:'' }}"
                                               data-party-size="{{ participant.party_size }}"
                                               data-table="{{ participant.table.id }}"
                                               data-seating="{{ participant.seating_preference }}"
                                               data-notes="{{ participant.notes|default:'' }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                                    <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                                                    <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                                                </svg>Edit
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
<input type="checkbox" id="deleteModal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Are you sure you want to delete this record?</h3>
    <p class="py-4">This action cannot be undone.</p>
    <div class="modal-action">
      <button class="btn btn-error" id="confirmDeleteButton">Delete</button>
      <label for="deleteModal" class="btn">Cancel</label>
    </div>
  </div>
</div>

<!-- Edit Sidebar Drawer -->
<div class="drawer drawer-end drawer-overlay z-100">
    <input id="editDrawer" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content">
        <!-- Your main content -->
    </div>
    <div class="drawer-side">
        <label for="editDrawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="bg-base-100 min-h-full w-100">
            <div class="p-4 space-y-4">
                <div class="drawer-header">
                    <h2 class="text-lg font-bold">Edit Participant</h2>
                    <hr class="border-base-300" />
                </div>

                <form id="editForm" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="participant_id" name="participant_id" />
                    <input type="hidden" id="table_id" name="table_id" />

                    <!-- Name Field -->
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text">Name*</span>
                        </label>
                        <input type="text" id="edit_name" name="name" class="input input-bordered w-full" />
                    </div>

                    <!-- Phone Field -->
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text">Phone</span>
                        </label>
                        <input type="tel" id="edit_phone" name="phone" placeholder="Ex. 081 234 5678" class="input input-bordered w-full" />
                    </div>

                    <!-- Party Size -->
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text">Party size</span>
                        </label>
                        <div class="flex gap-2">
                            {% for size in '1234567'|make_list %}
                                <input type="radio" name="party_size" value="{{ size }}" class="btn btn-square btn-sm join-item">
                                <span>{{ size }}</span>
                            {% endfor %}
                            <input type="radio" name="party_size" value="7+" class="btn btn-square btn-sm join-item">
                            <span>7+</span>
                        </div>
                    </div>

                    <!-- Table Selection -->
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text">Table</span>
                        </label>
                        <select id="edit_table" class="select select-bordered w-full">
                            {% for table in tables %}
                                <option value="{{ table.id }}">{{ table.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Seating Preference -->
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text">Seating Preference</span>
                        </label>
                        <select id="edit_seating" class="select select-bordered w-full">
                            <option value="First Available">First Available</option>
                            <option value="Indoor">Indoor</option>
                            <option value="Outdoor">Outdoor</option>
                        </select>
                    </div>

                    <!-- Notes Field -->
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text">Note</span>
                        </label>
                        <textarea id="edit_notes" name="notes" class="textarea textarea-bordered w-full"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const queue_id = {{ queue.id }};
    const updateInterval = 15000;

    document.addEventListener('DOMContentLoaded', function () {
        fetchData();
        setInterval(fetchData, updateInterval);
    });

    function fetchData() {
        fetch(`/manager/restaurant-updates/${queue_id}/`)
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                return response.json();
            })
            .then(data => {
                updateWaitingList(data.waiting_list);
                updateServingList(data.serving_list);
                updateCompletedList(data.completed_list);
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    function updateWaitingList(waitingList) {
        const waitingSection = document.getElementById('waiting-section');
        waitingSection.innerHTML = '';

        waitingList.forEach(participant => {
            const row = createWaitingRow(participant);
            waitingSection.appendChild(row);
        });
    }

    function updateServingList(servingList) {
        const servingSection = document.getElementById('serving-section');
        servingSection.innerHTML = '';

        servingList.forEach(participant => {
            const row = createServingRow(participant);
            servingSection.appendChild(row);
        });
    }

    function updateCompletedList(completedList) {
        const completedSection = document.getElementById('completed-section');
        completedSection.innerHTML = '';

        completedList.forEach(participant => {
            const row = createCompletedRow(participant);
            completedSection.appendChild(row);
        });
    }

    function createNotesModal(participant) {
        const modalId = `notes-modal-${participant.id}`;
        const notesHTML = participant.notes
            ? `
                <button class="btn btn-sm no-animation" onclick="document.getElementById('${modalId}').showModal()">
                    View Note
                </button>

                <dialog id="${modalId}" class="modal">
                    <div class="modal-box">
                        <form method="dialog">
                            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg mb-4">${participant.name}'s note</h3>
                        <div class="bg-base-200 p-4 rounded-lg min-h-[200px] shadow-inner">
                            <p class="whitespace-pre-wrap">${participant.notes}</p>
                        </div>
                        <div class="modal-action">
                            <form method="dialog">
                                <button class="btn">Close</button>
                            </form>
                        </div>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                </dialog>`
            : '';

        return notesHTML;
    }

    function createWaitingRow(participant) {
        const row = document.createElement('tr');
        row.id = `waiting-${participant.id}`;

        row.innerHTML = `
            <td class="px-6 py-4 whitespace-nowrap">${participant.name || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.position || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.party_size ? `${participant.party_size} people` : '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${createNotesModal(participant)}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.waited || '0'} min</td>
            <td class="badge badge-primary justify-center flex mx-7 my-5">${participant.seating_preference || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                <button class="btn btn-warning btn-square btn-sm text-base-100 no-animation mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                      <path d="M4.214 3.227a.75.75 0 0 0-1.156-.955 8.97 8.97 0 0 0-1.856 3.825.75.75 0 0 0 1.466.316 7.47 7.47 0 0 1 1.546-3.186ZM16.942 2.272a.75.75 0 0 0-1.157.955 7.47 7.47 0 0 1 1.547 3.186.75.75 0 0 0 1.466-.316 8.971 8.971 0 0 0-1.856-3.825Z" />
                      <path fill-rule="evenodd" d="M10 2a6 6 0 0 0-6 6c0 1.887-.454 3.665-1.257 5.234a.75.75 0 0 0 .515 1.076 32.91 32.91 0 0 0 3.256.508 3.5 3.5 0 0 0 6.972 0 32.903 32.903 0 0 0 3.256-.508.75.75 0 0 0 .515-1.076A11.448 11.448 0 0 1 16 8a6 6 0 0 0-6-6Zm0 14.5a2 2 0 0 1-1.95-1.557 33.54 33.54 0 0 0 3.9 0A2 2 0 0 1 10 16.5Z" clip-rule="evenodd" />
                    </svg>
                </button>
                <button class="btn btn-success btn-square btn-sm text-base-100 no-animation"
                    onclick="serveParticipant(${participant.id})">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>

                </button>

            </td>
        `;
        return row;
    }

    function createServingRow(participant) {
        const row = document.createElement('tr');
        row.id = `serving-${participant.id}`;

        row.innerHTML = `
            <td class="px-6 py-4 whitespace-nowrap">${participant.name || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.party_size ? `${participant.party_size} people` : '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${createNotesModal(participant)}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.waited || '0'} min</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.service_duration || '0'} min</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.served || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.table || '-'}</td>
            <td class="badge badge-primary justify-center flex mx-7 my-5">${participant.seating_preference || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                <button class="btn btn-success btn-square btn-sm text-base-100 no-animation"
                        onclick="completeParticipant(${participant.id})">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                        </svg>
                </button>
            </td>
        `;
        return row;
    }

    function createCompletedRow(participant) {
        const row = document.createElement('tr');
        row.id = `completed-${participant.id}`;

        row.innerHTML = `
            <td class="px-6 py-4 whitespace-nowrap">${participant.name || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.party_size ? `${participant.party_size} people` : '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${createNotesModal(participant)}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.waited || '0'} min</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.service_duration || '0'} min</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.served || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.completed || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">${participant.table || '-'}</td>
            <td class="badge badge-primary justify-center flex mx-7 my-5">${participant.seating_preference || '-'}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="dropdown dropdown-left dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-square btn-sm btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path d="M3 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM8.5 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM15.5 8.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z" />
                        </svg>
                    </div>
                  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    <li>
                        <a
                            onclick="openEditDrawer(this)"
                            data-id="${participant.id}"
                            data-name="${participant.name}"
                            data-notes="${participant.notes || '-'}"
                            data-party-size="${participant.party_size || '-'}"
                            data-table="${participant.table || '-'}"
                            data-seating="${participant.seating_preference || '-'}"
                            data-phone="${participant.phone}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                                <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                            </svg>Edit
                        </a>
                    </li>
                    <li>
                        <a id="participantDetail" class="text-red-500" onclick="openDeleteModal(${participant.id})">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" />
                            </svg>Delete
                        </a>
                    </li>
                </ul>
                </div
            </td>
        `;
        return row;
    }

    function serveParticipant(id) {
        fetch(`/manager/serve/${id}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id})
        })
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                fetchData();
            })
            .catch(error => console.error('Error serving participant:', error));
    }

    function completeParticipant(id) {
        fetch(`/manager/complete/${id}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id})
        })
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                fetchData();
            })
            .catch(error => console.error('Error completing participant:', error));
    }
</script>


<script>
let deleteParticipantId = null;

function openDeleteModal(participantId) {
    deleteParticipantId = participantId;
    document.getElementById('deleteModal').checked = true;
}

document.getElementById('confirmDeleteButton').addEventListener('click', () => {
    if (deleteParticipantId) {
        deleteParticipant(deleteParticipantId);
        document.getElementById('deleteModal').checked = false;
    }
});

function openEditDrawer(element) {
    const participantId = element.getAttribute('data-id');
    const participantName = element.getAttribute('data-name');
    const participantPhone = element.getAttribute('data-phone');
    const participantNotes = element.getAttribute('data-notes');
    const participantPartySize = element.getAttribute('data-party-size');
    const participantTable = element.getAttribute('data-table');
    const participantSeating = element.getAttribute('data-seating');

    document.getElementById('participant_id').value = participantId;
    document.getElementById('edit_name').value = participantName || '';
    document.getElementById('edit_phone').value = participantPhone || '';
    document.getElementById('edit_notes').value = participantNotes || '';

    const partySizeRadio = document.querySelector(`input[name="party_size"][value="${participantPartySize}"]`);
    if (partySizeRadio) {
        partySizeRadio.checked = true;
    }

    const tableSelect = document.getElementById('edit_table');
    tableSelect.choice = participantTable || '';

    const seatingSelect = document.getElementById('edit_seating');
    seatingSelect.choice = participantSeating || '';
    document.getElementById('editDrawer').checked = true;
}

document.getElementById('editForm').addEventListener('submit', (e) => {
    e.preventDefault();

    const updatedData = {
        id: document.getElementById('participant_id').value,
        name: document.getElementById('edit_name').value,
        phone: document.getElementById('edit_phone').value,
        notes: document.getElementById('edit_notes').value,
        party_size: document.querySelector('input[name="party_size"]:checked').value,
        table: document.getElementById('edit_table').value,
        seating_preference: document.getElementById('edit_seating').value
    };

    updateParticipant(updatedData);
});

function updateParticipant(data) {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    fetch(`/manager/edit_participant/${data.id}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (response.ok) {
            console.log("Participant updated successfully!");
            alert("Participant updated successfully!");
            location.reload();
        } else {
            console.error("Failed to update participant.");
            alert("Failed to update participant.");
        }
    })
    .catch(error => {
        console.error("Error:", error);
        alert("An error occurred while updating the participant.");
    });
}

function deleteParticipant(id) {
    fetch(`/manager/delete_participant/${id}/`, {
        method: 'DELETE',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => {
        if (response.ok) {
            console.log("Participant deleted successfully!");
            location.reload();
        } else {
            console.error("Failed to delete participant.");
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });
}
</script>

{% endblock %}