{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<main>
    <div class="card bg-base-200 text-base-content w-2/3 mx-auto p-6"> <!-- Adjust width here as needed -->
        <h2 class="card-title mb-4 text-center">Create a New Queue</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-control mb-4">
                    <label for="{{ field.id_for_label }}" class="label">
                        <span class="label-text">{{ field.label }}{% if field.field.required %} *{% endif %}</span>
                    </label>
                    {{ field|add_class:"input input-bordered w-full" }}
                    {% if field.help_text %}
                        <small class="text-gray-500">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <small class="text-red-500">{{ field.errors }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-full mt-4">Create Queue</button>
        </form>
    </div>
</main>
{% endblock %}
