{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.tailwindcss.com"></script>

    {% block title %}<title>Login Screen</title>{% endblock %}
</head>

<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">
        Access your account and explore all the features. Sign in now to stay updated and enjoy a seamless experience.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" placeholder="email" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" placeholder="password" class="input input-bordered" required />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
        <div class="flex items-center my-4">
          <div class="flex-grow h-px bg-gray-300"></div>
          <span class="mx-2 text-gray-500">OR</span>
          <div class="flex-grow h-px bg-gray-300"></div>
        </div>
        <div class="btn bg-white border-2 border-black text-black hover:bg-gray-200">
            <a href="{% provider_login_url 'google' %}?process=login&auth_params=immediate" class="field google flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                    <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
                    <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
                    <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
                    <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                </svg>
                <span>Continue with Google</span>
            </a>
        </div>
      </form>
    </div>
  </div>
</div>


{#<body>#}
{#<div class="login-box">#}
{#    <h2>Login</h2>#}
{##}
{#    {% if form.non_field_errors %}#}
{#        <div class="message">#}
{#            {% for error in form.non_field_errors %}#}
{#                {{ error }}#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endif %}#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <table>#}
{#            <tr>#}
{#                <td>#}
{#                    <label for="id_username">Username:</label>#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>#}
{#                    <input type="text" id="id_username" name="username">#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>#}
{#                    <label for="id_password">Password:</label>#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>#}
{#                    <input type="password" id="id_password" name="password">#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td colspan="2">#}
{#                    <button type="submit">Login</button>#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td class="media-options">#}
{#                    <a href="{% provider_login_url 'google' %}?process=login&auth_params=immediate" class="field google">#}
{#                        <i class="fa-brands fa-google googleicon"></i>#}
{#                        <span>Continue with Google</span>#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}
{#    </form>#}
{#    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>#}
{#</div>#}
{#</body>#}
