{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Queue Management</title>{% endblock %}

{% block content %}
<div class="bg-gray-100 py-12">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-center mb-8">Browse Queues</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <a href="{% url 'participant:restaurant_queues' %}" class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <div class="bg-gradient-to-r from-orange-400 to-red-400 p-6">
          <h2 class="text-2xl font-bold text-white ">Restaurant Queues</h2>
        </div>
        <div class="p-6">
          <img src="{% static 'participant/images/restaurant.jpg' %}" alt="Restaurant Queues" class="w-full rounded-md mb-4">
          <p class="text-gray-600 font-bold">Find available restaurant queues.</p>
        </div>
      </a>

      <a href="{% url 'participant:general_queues' %}" class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <div class="bg-gradient-to-r from-red-400 to-pink-400 p-6">
          <h2 class="text-2xl font-bold text-white">General Queues</h2>
        </div>
        <div class="p-6">
          <img src="{% static 'participant/images/general.jpg' %}" alt="General Queues" class="w-full rounded-md mb-4">
          <p class="text-gray-600 font-bold">Find available general queues.</p>
        </div>
      </a>

      <a href="{% url 'participant:hospital_queues' %}" class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <div class="bg-gradient-to-r from-pink-400 to-purple-400 p-6">
          <h2 class="text-2xl font-bold text-white">Hospital Queues</h2>
        </div>
        <div class="p-6">
          <img src="{% static 'participant/images/hospital.jpg' %}" alt="Hospital Queues" class="w-full rounded-md mb-4">
          <p class="text-gray-600 font-bold">Find available hospital queues.</p>
        </div>
      </a>

      <a href="{% url 'participant:bank_queues' %}" class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <div class="bg-gradient-to-r from-purple-400 to-indigo-400 p-6">
          <h2 class="text-2xl font-bold text-white">Bank Queues</h2>
        </div>
        <div class="p-6">
          <img src="{% static 'participant/images/bank.jpg' %}" alt="Bank Queues" class="w-full rounded-md mb-4">
          <p class="text-gray-600 font-bold">Find available bank queues.</p>
        </div>
      </a>

      <a href="{% url 'participant:service_center_queues' %}" class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <div class="bg-gradient-to-r from-indigo-400 to-blue-400 p-6">
          <h2 class="text-2xl font-bold text-white">Service Center Queues</h2>
        </div>
        <div class="p-6">
          <img src="{% static 'participant/images/service_center.jpg' %}" alt="Service Center Queues" class="w-full rounded-md mb-4">
          <p class="text-gray-600 font-bold">Find available service center queues.</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}