{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Queue Management</title>{% endblock %}

{% block content %}
<div class="min-h-screen bg-base-100 py-6">
  <div class="max-w-7xl mx-auto px-4">

    <div class="hero rounded-box mb-8 p-4">
      <div class="hero-content text-center">
        <div>
          <h1 class="text-5xl font-bold">Browse Queues</h1>
          <p class="py-6 text-2xl text-base-content/80">Select a category below to view available queue efficiently</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <a href="{% url 'participant:restaurant_queues' %}" class="card bg-base-100 shadow-xl hover:shadow-xl transition-all duration-300 hover:scale-105 active:translate-y-4 focus:outline-none focus:border-none !border-none">
        <figure class="px-6 pt-6">
          <img src="{{ restaurant }}" alt="Restaurant" class="rounded-xl h-49 w-full object-cover" />
        </figure>
        <div class="card-body">
          <h2 class="card-title text-gray-800 text-[1.375rem]">Restaurant Queues</h2>
          <p class="text-base-content/70">Find available restaurant queues</p>
        </div>
      </a>

      <a href="{% url 'participant:general_queues' %}" class="card bg-base-100 shadow-xl hover:shadow-2xl transition-all duration-300 hover:scale-105 active:transform active:translate-y-4 active:border-0 focus:outline-none focus:border-none !border-none">
        <figure class="px-6 pt-6">
          <img src="{{ general }}" alt="General" class="rounded-xl h-49 w-full object-cover" />
        </figure>
        <div class="card-body">
          <h2 class="card-title text-gray-800 text-[1.375rem]">General Queues</h2>
          <p class="text-base-content/70">Find available general queues</p>
        </div>
      </a>

      <a href="{% url 'participant:hospital_queues' %}" class="card bg-base-100 shadow-xl hover:shadow-2xl transition-all duration-300 hover:scale-105 active:transform active:translate-y-4 active:border-0 focus:outline-none focus:border-none !border-none">
        <figure class="px-6 pt-6">
          <img src="{{ hospital }}" alt="Hospital" class="rounded-xl h-49 w-full object-cover" />
        </figure>
        <div class="card-body">
          <h2 class="card-title text-gray-800 text-[1.375rem]">Hospital Queues</h2>
          <p class="text-base-content/70">Find available hospital queues</p>
        </div>
      </a>

      <a href="{% url 'participant:bank_queues' %}" class="card bg-base-100 shadow-xl hover:shadow-2xl transition-all duration-300 hover:scale-105 active:transform active:translate-y-4 active:border-0 focus:outline-none focus:border-none !border-none">
        <figure class="px-6 pt-6">
          <img src="{{  bank }}" alt="Bank" class="rounded-xl h-49 w-full object-cover" />
        </figure>
        <div class="card-body">
          <h2 class="card-title text-gray-800 text-[1.375rem]">Bank Queues</h2>
          <p class="text-base-content/70">Find available bank queues</p>
        </div>
      </a>
    </div>

    <div class="stats shadow mt-12 w-full bg-base-100">
      <div class="stat">
        <div class="stat-figure">

        </div>
        <div class="stat-title">Total Queues</div>
        <div class="stat-value mb-1">{{ total_queues }}</div>
        <div class="stat-desc">Total number of queues currently available.</div>
      </div>


      <div class="stat">
        <div class="stat-figure">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
        </svg>
        </div>
        <div class="stat-title">Active Users</div>
        <div class="stat-value mb-1">{{ active_users }}</div>
        <div class="stat-desc">Number of users currently using now.</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
