{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block extra_head %}
    <style>
        {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            min-height: 80vh;
            gap: 2rem;
        }

        .card {
            background: white;
            border-radius: 16px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            padding: 2.5rem;
            margin: 1rem;
            width: 700px;
            max-width: 450px;
            text-align: left;
            text-decoration: none;
            color: inherit;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card h5 {
            font-size: 1.8rem;
            font-weight: bold;
            color: black;
            margin-bottom: 1rem;
        }

        .card p {
            color: #64748b;
            margin-bottom: 1.5rem;
            font-size: 1rem;
        }

        .card img {
            width: 100%;
            height: auto;
            max-height: 200px;
            margin-bottom: 1.5rem;
            object-fit: contain;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <a href="{% url 'manager:create_q' %}" class="card">
            <h5>I’m a Business</h5>
            <p>Start managing your customer queues efficiently by creating a queue.</p>
            <img src="{% static 'participant/images/business.png' %}" alt="Create Queue Icon">
        </a>
        <a href="{% url 'participant:queues' %}" class="card">
            <h5>Browse Queues</h5>
            <p>Browse available queues if you're looking to join one.</p>
            <img src="{% static 'participant/images/browse.png' %}" alt="Browse Queue Icon">
        </a>
    </main>
{% endblock %}