{% extends 'base.html' %} {% block extra_head %}
<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f2f5;
  }
  header {
    background-color: #1e2a3a;
    color: white;
    padding: 1rem;
  }
  main {
    padding: 1rem;
    width: 90%;
    margin: auto;
  }
</style>
{% endblock %} {% block content %}

<div class="container mt-4">
  <h1>Queue History</h1>
  {% if history_queues %}
  <div class="list-group">
    {% for history in history_queues %}
    <div class="list-group-item">
      <h3 class="mb-1">{{ history.queue.name }}</h3>
      <p class="mb-1">Description: {{ history.queue_description }}</p>
      <p class="mb-1">Joined at: {{ history.joined_at }}</p>
      <p class="mb-1">Status: {{ history.action }}</p>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>You don't have any queue history.</p>
  {% endif %}
</div>

{% endblock %}
