{% extends 'status_base.html' %}

{% block content %}
<div class="flex justify-center mt-20">
  <div class="card bg-base-300 w-120 h-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{{ queue.name }}</h2>
      <p>There are currently {{ queue.get_number_of_participants }} participant(s) in the queue.</p>
      <div class="card-actions justify-end">
      <a href="{% url "participant:kiosk" queue.code %}">
        <button class="btn btn-primary">Join the queue.</button>
      </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}