{% extends 'status_base.html' %}

{% block content %}
<div class="flex justify-center mt-20">
  <div class="card transform transition-all bg-base-100 rounded-xl overflow-hidden border-2">
    <div class="card-body">
      <h2 class="card-title text-2xl">{{ queue.name }}</h2>
      <!-- Updated image with styling for size -->
      <img src="{{ queue.get_logo_url }}" alt="{{ queue.name }} logo" class="w-32 h-32 mx-auto">
       <p class="text-neutral text-sm">{{ queue.description }}</p>
      <p class="text-neutral text-xl">There are currently {{ queue.get_number_waiting_now }} participant(s) in the queue.</p>
      <div class="card-actions justify-end">
        <a href="{% url "participant:kiosk" queue.code %}">
          <button class="btn btn-primary">Join the queue.</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
