{% extends 'sidebar_manage.html' %}

{% block content %}
    <div class="w-full max-w-full">
        <div class="breadcrumbs text-sm mb-0">
            <ul>
                <li>
                    <a href="{% url 'manager:your-queue' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path d="M3 3.5A1.5 1.5 0 0 1 4.5 2h1.879a1.5 1.5 0 0 1 1.06.44l1.122 1.12A1.5 1.5 0 0 0 9.62 4H11.5A1.5 1.5 0 0 1 13 5.5v1H3v-3ZM3.081 8a1.5 1.5 0 0 0-1.423 1.974l1 3A1.5 1.5 0 0 0 4.081 14h7.838a1.5 1.5 0 0 0 1.423-1.026l1-3A1.5 1.5 0 0 0 12.919 8H3.081Z"/>
                        </svg>
                        Your Queues
                    </a>
                </li>
                <li>
                    <a class="font-serif" href="{% url 'manager:manage_waitlist' queue.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path d="M4.5 7c.681 0 1.3-.273 1.75-.715C6.7 6.727 7.319 7 8 7s1.3-.273 1.75-.715A2.5 2.5 0 1 0 11.5 2h-7a2.5 2.5 0 0 0 0 5ZM6.25 8.097A3.986 3.986 0 0 1 4.5 8.5c-.53 0-1.037-.103-1.5-.29v4.29h-.25a.75.75 0 0 0 0 1.5h.5a.754.754 0 0 0 .138-.013A.5.5 0 0 0 3.5 14H6a.5.5 0 0 0 .5-.5v-3A.5.5 0 0 1 7 10h2a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h2.5a.5.5 0 0 0 .112-.013c.045.009.09.013.138.013h.5a.75.75 0 1 0 0-1.5H13V8.21c-.463.187-.97.29-1.5.29a3.986 3.986 0 0 1-1.75-.403A3.986 3.986 0 0 1 8 8.5a3.986 3.986 0 0 1-1.75-.403Z"/>
                        </svg>
                        {{ queue.name| title }}
                    </a>
                </li>
                <li>
                    <a class="inline-flex items-center gap-2" href="{% url 'manager:queue_settings' queue.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd"
                                  d="M6.955 1.45A.5.5 0 0 1 7.452 1h1.096a.5.5 0 0 1 .497.45l.17 1.699c.484.12.94.312 1.356.562l1.321-1.081a.5.5 0 0 1 .67.033l.774.775a.5.5 0 0 1 .034.67l-1.08 1.32c.25.417.44.873.561 1.357l1.699.17a.5.5 0 0 1 .45.497v1.096a.5.5 0 0 1-.45.497l-1.699.17c-.12.484-.312.94-.562 1.356l1.082 1.322a.5.5 0 0 1-.034.67l-.774.774a.5.5 0 0 1-.67.033l-1.322-1.08c-.416.25-.872.44-1.356.561l-.17 1.699a.5.5 0 0 1-.497.45H7.452a.5.5 0 0 1-.497-.45l-.17-1.699a4.973 4.973 0 0 1-1.356-.562L4.108 13.37a.5.5 0 0 1-.67-.033l-.774-.775a.5.5 0 0 1-.034-.67l1.08-1.32a4.971 4.971 0 0 1-.561-1.357l-1.699-.17A.5.5 0 0 1 1 8.548V7.452a.5.5 0 0 1 .45-.497l1.699-.17c.12-.484.312-.94.562-1.356L2.629 4.107a.5.5 0 0 1 .034-.67l.774-.774a.5.5 0 0 1 .67-.033L5.43 3.71a4.97 4.97 0 0 1 1.356-.561l.17-1.699ZM6 8c0 .538.212 1.026.558 1.385l.057.057a2 2 0 0 0 2.828-2.828l-.058-.056A2 2 0 0 0 6 8Z"
                                  clip-rule="evenodd"/>
                        </svg>
                        Settings
                    </a>
                </li>
                <li>
                  <span class="inline-flex items-center gap-2">
                    {{ resource_name | title }}s
                </span>
                </li>
            </ul>
        </div>

        <div class="flex justify-between items-center mb-5">
            <a href="{% url 'manager:queue_settings' queue_id %}" class="btn btn-sm btn-square btn-ghost no-animation">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd"
                          d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                          clip-rule="evenodd"/>
                </svg>

            </a>
            <h1 class="text-2xl font-bold antialiased font-sans">{{ resource_name | title }}s</h1>
            <div class="ml-auto">
                <a class="btn btn-primary" onclick="openAddDrawer({{ queue.id }})">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z"
                              clip-rule="evenodd"/>
                    </svg>

                    Add {{ resource_name | title }}
                </a>
            </div>
        </div>
        <div class="justify-between inline-flex mb-4">
            <div class="form-control">
                <div class="relative w-full mr-2">
                    <input type="text"
                           id="searchInput"
                           class="input input-bordered w-full pr-12"
                           placeholder="Search" oninput="resourceSearch()">
                    <button type="button"
                            id="searchButton"
                            class="absolute right-2 top-1/2 -translate-y-1/2 p-2 h-auto min-h-0">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="overflow-x-auto">
            <table class="table min-w-full bg-base-100 divide-y divide-gray-200" id="resourceTable">
                <thead>
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        {{ special_column }}</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Assigned
                        Count
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Assigned
                        to
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                </tr>
                </thead>
                <tbody id="tableBody" class="divide-y divide-gray-200">
                {% for resource in resources %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="flex items-center space-x-3">
                                <span class="font-semibold">{{ resource.name }}</span>
                            </div>
                        </td>
                        {% if queue.category == 'restaurant' %}
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{ resource.capacity }}</td>
                        {% elif queue.category == 'hospital' %}
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{ resource.get_specialty_display }}</td>
                        {% elif queue.category == 'bank' %}
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{ resource.get_service_type_display }}</td>
                        {% endif %}
                        <td class="px-6 py-4 whitespace-nowrap">{{ resource.count }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ resource.assigned_to }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            {% if resource.get_status_display == 'Available' %}
                                <span class="badge badge-success text-base-100">{{ resource.get_status_display }}</span>
                            {% elif resource.get_status_display == 'Busy' %}
                                <span class="badge badge-warning text-base-100">{{ resource.get_status_display }}</span>
                            {% elif resource.get_status_display == 'Unavailable' %}
                                <span class="badge badge-error text-base-100">{{ resource.get_status_display }}</span>
                            {% else %}
                                <span class="badge">Unknown</span>
                            {% endif %}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="dropdown dropdown-left dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-square btn-sm btn-ghost">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                         class="size-5">
                                        <path d="M3 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM8.5 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM15.5 8.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z"/>
                                    </svg>
                                </div>
                                <ul tabindex="0"
                                    class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                                    <li>
                                        <a
                                                onclick="openEditDrawer({
                                                        id: '{{ resource.id }}',
                                                        name: '{{ resource.name }}',
                                                        status: '{{ resource.status }}',
                                                        assigned_to: '{{ resource.assigned_to.id }}',
                                                        capacity: '{{ resource.capacity }}',
                                                        medical_field: '{{ resource.specialty }}'
                                                        }, '{{ queue.category }}')">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                                 fill="currentColor" class="size-4">
                                                <path d="M13.488 2.513a1.75 1.75 0 0 0-2.475 0L6.75 6.774a2.75 2.75 0 0 0-.596.892l-.848 2.047a.75.75 0 0 0 .98.98l2.047-.848a2.75 2.75 0 0 0 .892-.596l4.261-4.262a1.75 1.75 0 0 0 0-2.474Z"/>
                                                <path d="M4.75 3.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V9A.75.75 0 0 1 14 9v2.25A2.75 2.75 0 0 1 11.25 14h-6.5A2.75 2.75 0 0 1 2 11.25v-6.5A2.75 2.75 0 0 1 4.75 2H7a.75.75 0 0 1 0 1.5H4.75Z"/>
                                            </svg>

                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a id="participantDetail" class="text-red-500"
                                           onclick="openDeleteModal({{ resource.id }})">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" class="size-5">
                                                <path fill-rule="evenodd"
                                                      d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Delete Modal -->
    <input type="checkbox" id="deleteModal" class="modal-toggle"/>
    <div class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure you want to delete this record?</h3>
            <p class="py-4">This action cannot be undone.</p>
            <div class="modal-action">
                <button class="btn btn-error" id="confirmDeleteButton">Delete</button>
                <label for="deleteModal" class="btn">Cancel</label>
            </div>
        </div>
    </div>

    <div class="drawer drawer-end drawer-overlay z-100">
        <input id="editDrawer" type="checkbox" class="drawer-toggle"/>
        <div class="drawer-side w-full w-100">
            <label for="editDrawer" class="drawer-overlay"></label>
            <div class="bg-base-100 min-h-full w-80">
                <div class="p-4 space-y-4">
                    <div class="drawer-header flex justify-between items-center">
                        <h2 class="text-lg font-bold">Edit {{ resource_name | title }}</h2>
                        <label for="editDrawer" class="btn btn-sm btn-square btn-ghost">✕</label>
                    </div>
                    <hr class="border-base-300"/>

                    <form id="editForm" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="resource_id" name="resource_id">

                        <div class="form-control w-full">
                            <label class="label"><span class="label-text">Name*</span></label>
                            <input type="text" id="edit_name" name="name" class="input input-bordered w-full" required/>
                        </div>

                        {% if queue.category == 'restaurant' %}
                            <div class="form-control w-full">
                                <label class="label"><span class="label-text">{{ special_column }}</span></label>
                                <input type="number" id="edit_special" name="special"
                                       class="input input-bordered w-full"
                                       required/>
                            </div>
                        {% elif queue.category == 'hospital' %}
                            <label class="label"><span class="label-text">{{ special_column }}</span></label>
                            <select id="edit_special" name="special" class="select select-bordered w-full" required>
                                {% for value, label in special_choice %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <label class="label"><span class="label-text">{{ special_column }}</span></label>
                            <select id="edit_special" name="special" class="select select-bordered w-full" required>
                                {% for value, label in special_choice %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}

                        <div class="form-control w-full">
                            <label class="label">
                                <span class="label-text">Assigned to</span>
                            </label>
                            <select id="assigned_to" name="assigned_to" class="select select-bordered w-full">
                                <option></option>
                                {% for participant in participant_set %}
                                    <option value="{{ participant.id }}">{{ participant.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-control w-full">
                            <label class="label">
                                <span class="label-text">Status</span>
                            </label>
                            <select id="edit_status" name="status" class="select select-bordered w-full">
                                {% for value, label in resource_status %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary mt-4">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="drawer drawer-end drawer-overlay z-100">
        <input id="addDrawer" type="checkbox" class="drawer-toggle"/>
        <div class="drawer-side">
            <label for="addDrawer" class="drawer-overlay"></label>
            <div class="bg-base-100 min-h-full w-80 p-2">
                <div class="p-4 space-y-4">
                    <div class="drawer-header flex justify-between items-center">
                        <h2 class="text-lg font-bold">Add {{ resource_name | title }}</h2>
                        <label for="addDrawer" class="btn btn-sm btn-circle">✕</label>
                    </div>
                    <hr class="border-base-300"/>

                    <form id="addForm" method="POST">
                        {% csrf_token %}
                        <div class="form-control w-full">
                            <label class="label"><span class="label-text">Name*</span></label>
                            <input type="text" id="edit_name" name="name" class="input input-bordered w-full" required/>
                        </div>

                        {% if queue.category == 'restaurant' %}
                            <div class="form-control w-full">
                                <label class="label"><span class="label-text">{{ special_column }}</span></label>
                                <input type="number" id="add_special" name="special"
                                       class="input input-bordered w-full"/>
                            </div>
                        {% else %}
                            <label class="label"><span class="label-text">{{ special_column }}</span></label>
                            <select id="add_special" name="special" class="select select-bordered w-full">
                                <option></option>
                                {% for value, label in special_choice %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}

                        <div class="form-control w-full">
                            <label class="label">
                                <span class="label-text">Status</span>
                            </label>
                            <select id="add_status" name="status" class="select select-bordered w-full">
                                {% for value, label in resource_status %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="divider"></div>


                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>


        <script>
            let deleteResourceId = null;

            function deleteResource(id) {
                fetch(`/manager/delete_resource/${id}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            console.log("Resource deleted successfully!");
                            location.reload();
                        } else {
                            console.error("Failed to delete resource.");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            }

            function openDeleteModal(resourceId) {
                deleteResourceId = resourceId;
                document.getElementById('deleteModal').checked = true;
            }

            document.getElementById('confirmDeleteButton').addEventListener('click', () => {
                if (deleteResourceId) {


                    deleteResource(deleteResourceId);
                    document.getElementById('deleteModal').checked = false;
                }
            });

            function openAddDrawer(queueId) {
                const form = document.getElementById('addForm');
                form.action = `/manager/add_resource/${queueId}/`;

                document.getElementById('addDrawer').checked = true;
            }


            function openEditDrawer(resource, category) {
                document.getElementById('resource_id').value = resource.id;
                document.getElementById('edit_name').value = resource.name || '';
                document.getElementById('assigned_to').value = resource.assigned_to || '';
                document.getElementById('edit_status').value = resource.status || '';

                const statusElement = document.getElementById('edit_status');
                if (statusElement) statusElement.value = resource.status || '';

                if (category === 'restaurant') {
                    document.getElementById('edit_special').value = resource.capacity;
                } else if (category === 'hospital') {
                    document.getElementById('edit_special').value = resource.medical_field;
                }

                const form = document.getElementById('editForm');
                form.action = `/manager/edit_resource/${resource.id}/`;

                document.getElementById('editDrawer').checked = true;
            }

            function resourceSearch() {
                const searchValue = document.getElementById('searchInput').value.toLowerCase();

                const rows = document.querySelectorAll('#resourceTable tbody tr');

                rows.forEach(row => {
                    const name = row.querySelector('td:nth-child(1)').textContent.toLowerCase();

                    if (name.includes(searchValue)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }
        </script>


{% endblock %}