[run]
branch = True

# Ignore files that are not relevant to coverage
omit =
    # system libraries
    /usr/*
    /usr/local/*
    .local/*
    # virtual environment
    env/*
    # django's script
    manage.py
    # django's configuration file
    config/*
    */__init__.py
    # django's migration files
    */migrations/*
    */services/*
    manager/forms.py
    manager/middleware.py

    manager/utils/helpers.py
    manager/utils/queue_data.py

    participant/forms.py
    participant/templatetags/custom_filters.py
    participant/utils/data_stream.py


# Exclude specific lines from the coverage report
[report]
exclude_lines =
    def __str__
    def __repr__
    @abstractmethod
    pass

