[run]
branch = True

# Ignore files that are not relevant to coverage
omit =
    # system libraries
    /usr/*
    /usr/local/*
    .local/*
    # virtual environment
    env/*
    # django's script
    manage.py
    # django's configuration file
    config/*
    */__init__.py
    # django's migration files
    */migrations/*
    */services/*

# Exclude specific lines from the coverage report
[report]
exclude_lines =
    def __str__
    def __repr__
