asgiref==3.8.1
attrs==23.2.0
beautifulsoup4==4.12.3
boto3==1.35.66
botocore==1.35.66
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
colorama==0.4.6
cryptography==43.0.3
Django==5.1.3
django-allauth==65.1.0
django-browser-reload==1.17.0
django-formtools==2.5.1
django-storages==1.14.4
django-tailwind==3.8.0
django-tailwind[reload]
dj_database_url
gTTS~=2.5.4
gunicorn
google==3.0.0
idna==3.10
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==3.0.2
pillow==11.0.0
psycopg2-binary
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
qrcode[pil]
requests==2.32.3
s3transfer==0.10.4
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
tornado==6.4.1
tzdata==2024.2
urllib3==2.2.3
whitenoise==6.8.2
channels
daphne
django-q