{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% tailwind_css %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
    {% block title %}<title>Queue Management</title>{% endblock %}
</head>
<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </div>
        </div>
        <a href="{% url 'participant:home' %}" class="logo-container">
            <img src="{% static 'images/logo-full.ico' %}"
                 alt="Queue Management Logo"
                 class="w-[200px] logo-light">
            <img src="{% static 'images/logo-full-white.ico' %}"
                 alt="Queue Management Logo"
                 class="w-[200px] logo-dark hidden">
        </a>
    </div>
</div>
    {% block content %}
    {% endblock %}
</html>
