{% load static tailwind_tags %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{{ 'https://queuekk-bucket.s3.ap-southeast-2.amazonaws.com/default_images/favicon.ico' }}" type="image/x-icon">
    {% block title %}<title>Queue Management</title>{% endblock %}
</head>


{% block content %}
{% endblock %}
{% if messages %}
    <div id="toast-container" class="toast toast-end toast-bottom z-50">
        {% for message in messages %}
            <div class="alert shadow-lg
                        {% if message.level_tag == 'error' %}alert-error
                        {% elif message.level_tag == 'success' %}alert-success
                        {% elif message.level_tag == 'warning' %}alert-warning
                        {% elif message.level_tag == 'info' %}alert-info
                        {% endif %}">
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>

<style>
    #toast-container {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 9999;
    }
</style>

</html>

<script>
    setTimeout(function () {
        const toast = document.querySelector('#toast-container');
        if (toast) {
            toast.remove();
        }
    }, 5000);

</script>
{% django_browser_reload_script %}