{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block extra_head %}
    <style>
        {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            min-height: 80vh;
            gap: 2rem;
        }

        .card {
            background: white;
            border-radius: 8px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            padding: 2.5rem;
            margin: 1rem;
            width: 400px;
            max-width: 450px;
            text-align: center;
        }

        .card h5 {
            font-size: 1.8rem;
            font-weight: bold;
            color: black;
            margin-bottom: 1rem;
        }

        .card p {
            color: #64748b;
            margin-bottom: 1.5rem;
            padding: 0 1rem;
            font-size: 1rem;
        }

        .card img {
            width: 100%;
            height: auto;
            max-height: 200px;
            margin-bottom: 1.5rem;
            object-fit: contain;
            padding: 0 1rem;
        }

        .btn-primary {
            background-color: btn-primary;
            border: none;
            color: white;
            width: 100%;
            padding: 0.75rem;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <div class="card">
            <h5>I’m a Business</h5>
            <p>Start managing your customer queues efficiently by creating a queue.</p>
            <img src="{% static 'queue_manager/images/business.png' %}" alt="Create Queue Icon">
            <a href="{% url 'queue:create_q' %}" class="btn btn-primary">Create Queue</a>
        </div>

        <div class="card">
            <h5>Browse Queues</h5>
            <p>Browse available queues if you're looking to join one.</p>
            <img src="{% static 'queue_manager/images/browse.png' %}" alt="Browse Queue Icon">
            <a href="{% url 'queue:queues' %}" class="btn btn-primary">Browse Queue</a>
        </div>
    </main>
{% endblock %}
