{% extends 'base.html' %}

{% block extra_head %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
        }
        main {
            padding: 2rem;
            width: 80%;
            margin: auto;
        }
        .card {
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: auto;
            padding: 1.5rem;
            transition: box-shadow 0.3s ease;
        }
        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .card-title {
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 1rem;
            text-align: center;
            color: #333;
        }
        .queue-block {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 0.75rem;
            margin-bottom: 1rem;
            transition: background-color 0.3s ease, border-color 0.3s ease;
        }
        .queue-block.open {
            background-color: #fafafa;
        }
        .queue-block.open:hover {
            background-color: #f0f0f0;
            border-color: #ccc;
        }
        .queue-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
            color: #333;
            padding-left: 0.5rem;
        }
        .queue-info {
            font-size: 0.85rem;
            color: #555;
            margin-bottom: 0.25rem;
            padding-left: 0.5rem;
        }
        .status-badge {
            display: inline-block;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            text-align: center;
        }
        .status-badge-green {
            background-color: #d4edda;
            color: #155724;
        }
        .status-badge-red {
            background-color: #f8d7da;
            color: #721c24;
        }
        .no-queues {
            font-size: 1rem;
            color: #888;
            margin-top: 1rem;
            padding: 1rem 0;
            text-align: center; /* Center align no queues message */
        }
        .queue-block.closed {
            background-color: #fff;
            border-color: #ddd;
        }
        .queue-block.closed:hover {
            background-color: #fff;
            border-color: #ddd;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <div class="card">
            <div class="card-title">{{ queue_type }} Queues</div>

            <div>
                <div style="text-align: center;">
                    <span class="status-badge status-badge-green">Open queues</span>
                </div>
                {% if queues %}
                    {% for queue in queues %}
                        {% if not queue.is_closed %}
                            <div class="queue-block open">
                                <div class="queue-title">{{ queue.name }}</div>
                                <div class="queue-info">{{ queue.description }}</div>
                                <div class="queue-info">
                                    Currently in queue:
                                    {% if queue.get_number_of_participants == 1 %}
                                        1 person
                                    {% else %}
                                        {{ queue.get_number_of_participants }} people
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="no-queues">No open queues available.</div>
                {% endif %}
            </div>

            <div>
                <div style="text-align: center;">
                    <span class="status-badge status-badge-red">Closed Queues</span>
                </div>
                {% if queues %}
                    {% for queue in queues %}
                        {% if queue.is_closed %}
                            <div class="queue-block closed">
                                <div class="queue-title">{{ queue.name }}</div>
                                <div class="queue-info">{{ queue.description }}</div>
                                <div class="queue-info">
                                    Currently in queue:
                                    {% if queue.get_number_of_participants == 1 %}
                                        1 person
                                    {% else %}
                                        {{ queue.get_number_of_participants }} people
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="no-queues">No closed queues available.</div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
