{% extends 'base.html' %}

{% block extra_head %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
        }
        main {
            padding: 1rem;
            width: 90%;
            margin: auto;
        }
        .card {
            background: white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: auto;
            padding: 2rem;
        }
        .card-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .queue-block {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 1rem;
        }
        .queue-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .queue-info {
            font-size: 0.9rem;
            color: #000;
        }
        .status-badge-red {
            display: inline-block;
            padding: 0.25rem 0.5rem;
            background-color: #f8d7da;
            color: black;
            border-radius: 4px;
            font-size: 0.9rem;
            margin-left: 0.5rem;
            margin-bottom: 1rem;
        }
        .status-badge-green {
            display: inline-block;
            padding: 0.25rem 0.5rem;
            background-color: #d4edda;
            color: black;
            border-radius: 4px;
            font-size: 0.9rem;
            margin-left: 0.5rem;
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <div class="card">
            <div class="card-title">{{ queue_type }} Queues</div>

            <div>
                <span class="status-badge-green">Open</span>
                {% if queues %}
                    {% for queue in queues %}
                        {% if queue.is_closed == False %}
                            <div class="queue-block">
                                <div class="queue-title">{{ queue.name }}</div>
                                <div class="queue-info">Code: {{ queue.code }}</div>
                                <div class="queue-info">People in Queue: {{ queue.number_of_people }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No queues available.</p>
                {% endif %}
            </div>

            <div>
                <span class="status-badge-red">Closed</span>
                {% if queues %}
                    {% for queue in queues %}
                        {% if queue.is_closed == True %}
                            <div class="queue-block">
                                <div class="queue-title">{{ queue.name }}</div>
                                <div class="queue-info">Code: {{ queue.code }}</div>
                                <div class="queue-info">People in Queue: {{ queue.number_of_people }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No queues available.</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
