{% extends 'base.html' %}

{% block extra_head %}
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f0f2f5;
        }
        header {
            background-color: #1e2a3a;
            color: white;
            padding: 1rem;
        }
        main {
            padding: 1rem;
            width: 90%;
            margin: auto;
        }
    </style>
{% endblock %}
