{% extends 'base.html' %}
{% block content %}
<div class="flex justify-center items-center">
  <ul class="steps steps-vertical lg:steps-horizontal steps-center">
    <li class="step step-primary p-2">Queue Setup</li>
    <li class="step step-primary p-2">Specify Hours & Location</li>
    <li class="step p-2">Add Resources</li>
  </ul>
</div>

<div class="card border-2 border-base-200 max-w-4xl w-full sm:w-3/4 md:w-1/2 mx-auto p-6 mt-4">
    <form method="post" id="queueForm">
        {% csrf_token %}
        <div class="flex justify-center">
            <div class="flex gap-8">
              <div class="form-control">
                <label class="label">
                  <span class="label-text font-medium">Opening Time</span>
                </label>
                {{ form.open_time }}
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text font-medium">Closing Time</span>
                </label>
                {{ form.close_time }}
              </div>
            </div>
        </div>

        <div class="form-group mb-4">
            <label for="searchInput">Search for Location</label>
            <div class="relative mt-3">
                <input type="text"
                       id="searchInput"
                       class="input input-bordered w-full pr-12"
                       placeholder="Enter location to search">
                <button type="button"
                        id="searchButton"
                        class="absolute right-2 top-1/2 -translate-y-1/2 p-2 h-auto min-h-0">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-5 w-5"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="form-group mb-4">
            <label>Enter Latitude and Longitude (Optional)</label>
            <div class="grid gap-4">
                <div class="flex gap-4">
                    <input type="number"
                           id="latitudeInput"
                           class="mt-3 input input-bordered w-full"
                           placeholder="Latitude"
                           step="any"
                           name="latitudeInput" readonly>
                    <input type="number"
                           id="longitudeInput"
                           class="mt-3 input input-bordered w-full"
                           placeholder="Longitude"
                           step="any"
                           name="longitudeInput" readonly>
                </div>
            </div>
        </div>

<div class="form-group mb-4">
  <div class="flex justify-between items-center mt-4">
    <label class="text-left w-full">Mark your queue location by dragging the marker.</label>
    <button type="button" id="useLocationButton" class="flex items-center p-2 bg-transparent border-2 border-blue-500 rounded-full hover:bg-blue-100">
      <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" alt="Use My Location" class="w-5 h-5 mr-2 cursor-pointer" />
      <span class="text-blue-500 font-medium">Your location</span>
    </button>
  </div>
  <div id="map" class="mt-4" style="height: 400px;"></div>
</div>
        <input type="hidden" name="latitude" id="id_latitude" required>
        <input type="hidden" name="longitude" id="id_longitude" required>
        <div class="flex justify-between items-center">
            <a href="{% url 'manager:create_queue_step' step='1' %}" class="btn btn-primary">Previous</a>
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol/ol.css" />
<script src="https://cdn.jsdelivr.net/npm/ol/dist/ol.js"></script>

<script>
    const map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([100.5018, 13.7563]),
            zoom: 13
        })
    });

    const markerStyle = new ol.style.Style({
        image: new ol.style.Icon({
            anchor: [0.5, 1],
            src: 'https://cdn-icons-png.flaticon.com/512/684/684908.png',
            scale: 0.08
        })
    });

    const markerSource = new ol.source.Vector();
    const markerLayer = new ol.layer.Vector({
        source: markerSource,
        style: markerStyle
    });
    map.addLayer(markerLayer);

    let markerFeature = new ol.Feature({
        geometry: new ol.geom.Point(ol.proj.fromLonLat([100.5018, 13.7563]))
    });
    markerSource.addFeature(markerFeature);

    function updateInputs(lon, lat) {
        document.getElementById('id_latitude').value = lat.toFixed(6);
        document.getElementById('id_longitude').value = lon.toFixed(6);
        document.getElementById('latitudeInput').value = lat.toFixed(6);
        document.getElementById('longitudeInput').value = lon.toFixed(6);
    }

    const modifyInteraction = new ol.interaction.Modify({
        source: markerSource,
        hitDetection: markerLayer,
    });
    map.addInteraction(modifyInteraction);

    modifyInteraction.on('modifyend', function(event) {
        if (event.features.getLength() > 0) {
            const feature = event.features.item(0);
            const coordinates = ol.proj.toLonLat(feature.getGeometry().getCoordinates());
            updateInputs(coordinates[0], coordinates[1]);
        }
    });

    map.on('singleclick', function (event) {
        const coordinates = ol.proj.toLonLat(event.coordinate);
        const [lon, lat] = coordinates;

        markerSource.clear();
        const newMarkerFeature = new ol.Feature({
            geometry: new ol.geom.Point(event.coordinate)
        });
        markerSource.addFeature(newMarkerFeature);

        updateInputs(lon, lat);
    });

    document.getElementById('useLocationButton').addEventListener('click', function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;

                console.log(`User location: Lat = ${lat}, Lon = ${lon}`);

                const coordinates = ol.proj.fromLonLat([lon, lat]);
                map.getView().setCenter(coordinates);
                map.getView().setZoom(13);

                markerSource.clear();
                const newMarkerFeature = new ol.Feature({
                    geometry: new ol.geom.Point(coordinates)
                });
                markerSource.addFeature(newMarkerFeature);
                document.getElementById('latitudeInput').value = lat;
                document.getElementById('longitudeInput').value = lon;
                document.getElementById('id_latitude').value = lat;
                document.getElementById('id_longitude').value = lon;
            }, function() {
                alert("Error: The Geolocation service failed.");
            });
        } else {
            alert("Error: Your browser does not support geolocation.");
        }
    });

    document.getElementById('queueForm').addEventListener('submit', function(event) {
        const latitude = document.getElementById('id_latitude').value;
        const longitude = document.getElementById('id_longitude').value;

        if (!latitude || !longitude) {
            event.preventDefault();
            alert('Please enter both latitude and longitude before proceeding.');
        }
    });

    updateInputs(null, null);
</script>

{% endblock %}
