{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center">
  <ul class="steps steps-vertical lg:steps-horizontal steps-center">
    <li class="step step-primary p-2">Queue Setup</li>
    <li class="step p-2">Set Hours</li>
    <li class="step p-2">Add Resources</li>
    <li class="step p-2">Select Location</li>
  </ul>
</div>


<div class="card flex border-2 border-base-300 max-w-4xl w-full sm:w-3/4 md:w-1/2 mx-auto p-6 mt-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="flex justify-end">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>
{% endblock %}
