{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block title %}<title>Queue Management</title>{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </div>
        </div>
        <a href="{% url 'participant:home' %}" class="logo-container">
            <img src="{% static 'images/logo-full.ico' %}"
                 alt="Queue Management Logo"
                 class="w-[200px] logo-light">
            <img src="{% static 'images/logo-full-white.ico' %}"
                 alt="Queue Management Logo"
                 class="w-[200px] logo-dark hidden">
        </a>
    </div>

    <div class="navbar-end">
        {% if user.is_authenticated %}
            <div class="dropdown dropdown-end z-20">
                <label tabindex="0" class="btn btn-ghost m-1">
                    {{ user.username }}
                    <form method="post" enctype="multipart/form-data">
                        <div class="avatar">
                            <div class="ring-primary ring-offset-base-100 w-8 h-8 rounded-full ring-2 ring-offset-2 ml-2">
                                <img src="{{ user.userprofile.get_profile_image }}" alt="{{ user.username }}'s profile"
                                     class="rounded-full h-24 w-24 object-cover">
                            </div>
                        </div>
                    </form>
                </label>
                <ul tabindex="0"
                    class="menu dropdown-content bg-base-100 rounded-box w-40 p-2 shadow flex justify-center">
                    <form action="{% url 'account_logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-error btn-sm text-white self-center ml-2">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white ml-2" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
                            </svg>
                            Log out
                        </button>
                    </form>
                </ul>
            </div>
        {% else %}
            <span class="mr-2 text-sm">Have an account?</span>
            <a href="{% url 'account_login' %}" class="btn btn-primary text-white">Log in</a>
        {% endif %}

    </div>
</div>

<div class="content-container p-1">
    {% if messages %}
        <ul class="messages space-y-2">
            {% for message in messages %}
                <li class="{% if message.tags == 'success' %}alert alert-success{% elif message.tags == 'error' %}alert alert-error{% elif message.tags == 'info' %}alert alert-info{% elif message.tags == 'warning' %}alert alert-warning{% endif %} shadow-lg">
                    <span>{{ message }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% block content %} {% endblock %}

{% if messages %}
    {% for message in messages %}
        <div id="toast-container" class="toast toast-end toast-bottom z-50">
        <div class="alert alert-success shadow-lg text-white">
            <div class="inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6 mr-2" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <span>{{ message }}</span>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>

<style>
    #toast-container {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 9999;
    }
</style>

</body>
</html>

<script>
    setTimeout(function () {
        const toast = document.querySelector('#toast-container');
        if (toast) {
            toast.remove();
        }
    }, 5000);

</script>