<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    {% block title %}<title>Queue Management</title>{% endblock %}
</head>
<body>

<div class="navbar bg-base-100 shadow-md">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
        </div>
        <a href="{% url 'participant:index' %}" class="btn btn-ghost text-xl font-bold">Queue Management</a>
    </div>
    <div class="navbar-end">
        {% if user.is_authenticated %}
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-outline m-1">
                    Welcome, {{ user.username }}!
                </label>
                <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-error btn-block text-white">Log out</button>
                        </form>
                    </li>
                </ul>
            </div>
        {% else %}
            <span class="mr-2 text-sm">Have an account?</span>
            <a href="{% url 'login' %}" class="btn btn-primary text-white">Log in</a>
        {% endif %}
    </div>
</div>



<div class="content-container p-4">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %} {% endblock %}
</div>
</body>
</html>
